{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
{% block content %}
<div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>
  <a href="{% url 'add' %}">Add Data</a>
  <a href="{% url 'view' %}">View Data</a>
</div>
{% csrf_token %}
<div style="padding-left:16px">
  <center>
      <h1>Home Page</h1>
      <h4>Add Data About Users</h4>
      <h4>View Data About Users</h4>
  </center>
  {% endblock %}
</div>

</body>
</html>
